# Logs
logs/
*.log

# Dependencies
node_modules/

# Built output
dist/
build/

# Environment variables
.env

# Editor/IDE specific files
.vscode/
.idea/

# Testing
coverage/

# Dependency lock files
package-lock.json
yarn.lock

# Config files
.nycrc
.babelrc
.eslintrc
.prettierrc