<%- include('../../partials/header.ejs') %>

<body>
    <div class="
    custom
    p-5 border rounded-4 col-auto
    centering container 
    position-absolute top-50 start-50 translate-middle
    centering content
    d-flex justify-content-center">
        <form class="">
            <h1 class="text-center">Login</h1>
            <div class="row">
                <label for="username">Username</label>
                <input class="form-control" type="text" id="username" required>
            </div>
            <div class="row">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" required>
            </div>
            <div class="row mt-2 padding_0">
                <button class="btn" type="submit">Login</button>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="/js/login.js"></script>
</body>